<div class="row-fluid">
<h2>Drupal Reflection</h2>
<h3>when dpm(entity_get_info) is not enough</h3>
<p>
A tool to reflect on all metadata in your site.<br />
Currently showing data from a demo site. <br />
You can easily start browsing the metadata of your sites :<br />
You will have to install the <a href="https://github.com/mojzis/holmes">holmes module</a> into your site and enter the info here :<br />
<form>
  <fieldset>
    <input ng-model="siteUrl" placeholder="url of your site - not implemented yet, sry :)"><br />
    <input ng-model="siteKey" placeholder="key provided by the module"><br />
    <button class="btn btn-success">Change sites and fetch data</button>
  </fieldset>
</form>
</p>
<p>Well, ATM this doesnt work, you will have to change the site adress in js/droprx.js</p>
<h3>Built with</h3>
<ul>
<li>AngularJS</li>
<li>GitHub pages</li>
<li>Bootstrap &amp; Bootswatch</li>
<li>Sympathy for the fellow drupal devs :)</li>
</ul>

</div>
