<h2>About</h2>
<h3>Drupal Reflection</h3>
<p>
A tool to reflect on all metadata in your site.<br />
Currently showing data from a demo site, but you can easily play with your own data :<br />
You will have to install the module into your site and enter the info here :
<input ng-model="siteUrl" placeholder="url of your site"><br />
<input ng-model="siteKey" placeholder="key provided by the module">
</p>
<h3>Built with</h3>
<ul>
<li>AngularJS</li>
</ul>
<h3>ToDo</h3>
<h4>Fields</h4>
<dl>
<dt>Advanced search</dt>
<dd>Alow to search by entity , field type</dd>
<h4>UX</h4>
<dt>row selection</dt>
<dd>allow to select rows by keyboard, colour the selected row</dd>
<dt>make it nicer</dt>
<dd>bootstrap ?</dd>
<dt></dt>
<dd></dd>
</dl>
<h3>Future</h3>
<dl>
  <dt>Editable</dt>
  <dd>allow to set the properties, where available ..., create new fields ...</dd>
</dl>
