<a>Refresh button</a>
<div>
  <table class="datalist">
    <thead>
      <tr>
        <th>Label</th>
        <th>Bundles</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="e in ents" ng-click="selectRow($index)">
        <td title="{{ e.description }}">{{ e.label }}</td>
        <td><span ng-repeat="b in e.bundles">{{ b.label }}&nbsp;&nbsp;</span></td>
      </tr>
    </tbody>
  </table>
  <table class="detail">
    <thead>
      <tr>
        <th>Property</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(key, value) in selrow">
        <td class="proplabel">{{ key }}</td>
        <td>{{ value }}</td>
      </tr>
    </tbody>
  </table>
</div>
