<div class="row-fluid">
<h2>Drupal Reflection</h2>
<h3>when dpm(entity_get_info) isnt enough</h3>
<p>
A tool to reflect on all metadata in your site.<br />
Currently showing data from a demo site. <br />
You can easily start browsing the metadata of your sites :<br />
You will have to install the module into your site and enter the info here :<br />
<form>
  <fieldset>
    <input ng-model="siteUrl" placeholder="url of your site"><br />
    <input ng-model="siteKey" placeholder="key provided by the module"><br />
    <button class="btn btn-success">Change sites and fetch data</button>
  </fieldset>
</form>
</p>
<h3>Built with</h3>
<ul>
<li>AngularJS</li>
<li>GitHub pages</li>
<li>Bootstrap &amp; Bootswatch</li>
</ul>

</div>
